html,body {
    height:100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #0B24FD;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blue, #151B54); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue,#151B54 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, #151B54); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, #151B54);
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}
header {
    font-size: 230%;
        color: black;

}
h1{
    color:white;
    font-weight:lighter;
}
table {
  border-collapse: separate;
  border-spacing: 1px;
    width:70%; 
    background-color: #c2c2d6;
    color:black;

}

th,td {
  padding: 10px 15px;
  background-color: white;
}
input[type=text] {
    padding:1px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:0px 0px; 
    background:#0c6bd3; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
button[type=submit] {
    padding:0px 15px; 
    background:#0c6bd3; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #0c6bd3;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
div.inline { float:left; }

.panel-heading{
     width: 600px ;
  margin-left: auto ;
  margin-right: auto ;
}
.form-group{
     width: 300px ;
  margin-left: auto ;
  margin-right: auto ;
}



