body {
    background-color: #a0a0c5;
    text-align: center;
    color: black;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}
header {
    font-size: 230%;
}
table {
  border-collapse: separate;
  border-spacing: 4px;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;

}


table,
th,
td {
  border: 1px solid #000000;
}
th,
td {
  padding: 10px 15px;
}
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#c2c2d6; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
button[type=submit] {
    padding:5px 15px; 
    background:#c2c2d6; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

